h1{
  color: rgb(255,190, 190);
  font-weight: normal;
}

body{
  color: #333;
  font-family: Verdana, sans-serif;
}

header{
  background-color: #efefef;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
}

.index{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  border-top: 2px solid;
  border-bottom: 2px solid;
}



.container{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.icon img{
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(255,190, 190);
    transition-property: transform;
    transition-duration: 1s;
}
.icon:hover{
  transform: scale(1.03, 1.03);
}

.info{
  margin-left: 24px;
}

.info h1{
  font-weight: normal;
  font-size: 24px;
  margin: 0;
}

.info p{
  margin: 0;
  margin-bottom: 15px;
  width: calc(100% * 0.75)

}

.info ul{
  /* margin: 0; */
  padding: 0;
  list-style-type: none;
  display: flex;
}

.info ul li{
  margin-right: 8px;
}

.works{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.works > h1{
  color: #333;
  font-family: verdana, sans-serif;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.works > section{
  margin-bottom: 100px;
  text-align: center;
}

.works > section > h1 {
  font-weight: bold;
  text-align: center;
}

.works p{
  line-height: 1.8;
  padding-top: 20px;

  align-content: center;
}

footer{
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  font-size: 14px;
  margin-top: 80px;
  padding-bottom: 40px;
  padding-top: 40px;
  color: gray;
  background-color: #efefef;
}

.index > ol{
  list-style: none;
  position: relative;
  left: 70px;
}

.index > h1{
  position: relative;
  left: 50px;
}

.works >section > img{
  box-shadow:10px 10px 5px rgba(0, 0, 0, 0.3);
}

.top{
  text-align: center;
}

.btn{
  width: 200px;
  background: hsl(200, 72%, 72%);
  text-align: center;
  padding:4px;
  color:white;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  transition: background .3s;
}

.btn:hover {
  background: hsl(200, 72%,  80%);
}


nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
}

nav a{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 200px;
  margin-right: 5px;
  margin-left: 5px;
  display: block;
  width: 200px;
}

nav a:hover{
  background: #efefef;
}

.top{
  margin-top: 50px;
}

